// background colors
$bg-dark-blue: #5c6624;
$funders-bg: #5a3688;
$bg-light-blue: #1ca1c1;
$bg-dark-orange: #f35c3f;
$bg-dark-pink: #d60bb7;
$bg-dark-yellow-green: #a08e00;
$topaz: #1ca1c1;
$teal: #1a5f0d;
$pink: #9a8e00;
$bottle-green: #4e4908;
$black-gradient: #292620;
$yellow: #ffc904;
$light-green: #cfeeae;
$get-started: #d29b21;
$thumb-vertical: #003558;
// font colors
$font-white: #fff;
$font-black: #000;