//font attach
@font-face {
    font-family: "Manrope-Bold";
    src: url("../fonts/Manrope-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Manrope-ExtraBold";
    src: url("../fonts/Manrope-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: "Manrope-Medium";
    src: url("../fonts/Manrope-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Manrope-Regular";
    src: url("../fonts/Manrope-Regular.ttf") format("truetype");
}

@import "./consts/main.scss";
@import "./mixins/main.scss";
@import "./base/main.scss";
// component styles
@import "../../Components/Landing/Index.scss";