.section-body-wrapper {
    height: 100vh;
    background-image: url("../../assets/images/weather-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    .loader {
        position: absolute;
        top: 50%;
        margin-top: -50px;
        left: 0;
        right: 0;
        text-align: center;
        font: 30px $ManropeBold;
        color: $font-white;
    }
    .content-wrapper {
        padding-top: 60px;
        .search-form {
            top: 10%;
            position: relative;
            margin: 0px auto;
            max-width: 700px;
            display: flex;
            .form-group {
                align-items: center;
                width: 70%;
                input[type="text"] {
                    padding: 25px;
                    border-radius: 30px;
                    border: 0;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
                    &::placeholder {
                        font: 15px $ManropeRegular;
                    }
                }
            }
            button {
                width: 30%;
                height: 50px;
                margin-left: 20px;
                @include border-radius(30px);
                font: 15px $ManropeRegular;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
            }
        }
        .data-wrapper {
            padding-left: 10px;
            h1 {
                font: 45px $ManropeBold;
                margin-bottom: 0;
                padding-bottom: 0;
                padding-left: 10px;
                color: $font-white;
                span {
                    font-size: 30px;
                }
            }
            h4 {
                font: 23px $ManropeMedium;
                color: $font-white;
                padding-left: 15px;
            }
        }
        .weather-data-wrapper {
            padding-top: 20px;
            img {
                width: 100%;
            }
            .temp-data {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h1 {
                    font: 90px $ManropeBold;
                    line-height: 70px;
                    color: $font-white;
                }
                h3 {
                    font: 28px $ManropeMedium;
                    color: $font-white;
                    padding-left: 20px;
                }
            }
            .col-data-wrapper {
                padding: 20px 0px;
                margin: 20px 0px;
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 10px;
                .inner-col-wrapper {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h1 {
                        font: 20px $ManropeMedium;
                        padding-left: 0;
                        color: $font-white;
                    }
                    p {
                        font: 18px $ManropeMedium;
                        color: $font-white;
                    }
                }
            }
        }
        .main-wrapper {
            padding-top: 30px;
            h1 {
                font: 20px $ManropeMedium;
                color: $font-white;
            }
        }
        .forecast-wrapper {
            display: flex;
            overflow: scroll hidden;
            margin-top: 15px;
            padding-bottom: 10px;
            .hourly-data {
                @media #{$mq7a} {
                    flex-basis: 125px;
                }
                flex-shrink: 0;
                padding: 10px;
                margin: 0px 5px;
                border-radius: 5px;
                background-color: rgba(255,
                255,
                255,
                0.2);
                backdrop-filter: blur(10px);
                h2 {
                    font: 15px $ManropeMedium;
                    color: $font-white;
                    text-align: center;
                }
                img {
                    display: block;
                    margin: auto;
                }
                h1 {
                    font: 20px $ManropeBold;
                    color: $font-white;
                    text-align: center;
                }
            }
        }
    }
}